<%- include('partials/header') %>
<div id="landing-header">
    <div id="mCon" class="container text-center">
        <img class="logo" src="/img/logo.png" />
        <h1 class="display-1">ShnaX</h1>
        <p class="lead text-warning">
            <strong>
                Welcome to the ShnaX! Where we post mid-night snacks recipies!
            </strong>
        </p>
    </div>

    <a id="start-btn" class="mt-3 p-2 btn btn-outline-primary btn-block btn-lg text-center" href="/shnax">Get
        Started!</a>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%- include('partials/footer') %>